<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome Email</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
</head>

<body style="
      background-color: #fafafa;
      margin: 0;
      padding: 0;
      font-size: 16px; 
      color: #333333;
      font-family: 'Poppins', sans-serif;
    ">
  <table width="100%" border="0" cellspacing="0" cellpadding="0"
    style="margin: 0 auto; min-width: unset; max-width: 480px">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 40px">
          <!-- Logo -->
          <tr>
            <td align="center">
              <a href="https://debutify.com/" target="_blank">
                <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/logo.png" alt="" style="
                      margin-bottom: 40px;
                      margin-top: 80px;
                      width: 124px;
                      height: 25px;
                    " />
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <!-- Email Content Container -->
              <table border="0" cellspacing="0" cellpadding="0" style="
                    margin: 0 auto;
                    background-color: #ffffff;
                    border-radius: 16px;
                  ">
                <tr>
                  <td style="text-align: center">
                    <h3 style="
                          font-size: 20px;
                          font-weight: 600;
                          padding: 40px 24px 16px;
                          margin: 0px;
                        ">
                      Welcome to Debutify!
                    </h3>
                    <p style="
                          line-height: 170%;
                          font-size: 14px;
                          text-align: left;
                          color: #2e353a;
                          padding: 0px 24px;
                        ">
                      We are delighted to have you on board, {{ name }}.
                      <br /><br />
                      Get ready to take your brand to the next level with
                      Debutify <br />
                      Theme and Debutify Reviews. <br /><br />
                      Explore these apps and see how they can make your brand
                      <br />
                      even better.
                    </p>
                    <a href="{{ url }}" style="
                          background-color: #7559ff;
                          border: none;
                          padding: 8px 20px;
                          border-radius: 4px;
                          line-height: 170%;
                          font-size: 14px;
                          font-weight: 600;
                          color: #ffffff;
                          font-family: 'Poppins', sans-serif;
                        ">
                      Click Here To Join Debutify
                    </a>
                    <hr style="border: 1px solid #efefef; margin-top: 40px" />
                    <p style="
                          line-height: 20px;
                          margin: 24px 0;
                          font-size: 14px;
                          text-align: left;
                          padding: 0px 24px;
                          color: #2e353a;
                        ">
                      Need help? Email us at
                      <a href="mailto:support@debutify.com" target="_blank"
                        style="color: #2383d9">support@debutify.com</a>
                      and one of our customer support team will assist you
                      promptly.
                    </p>
                    <hr style="border: 1px solid #efefef; margin-top: 16px" />
                    <p style="
                          line-height: 150%;
                          font-size: 18px;
                          text-align: center;
                          margin-bottom: 12px;
                          font-weight: 600;
                          font-family: 'Poppins', sans-serif;
                          color: #2e353a;
                        ">
                      The Debutify Team
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p style="
                    font-size: 12px;
                    line-height: 20.4px;
                    color: #9fa8b2;
                    margin: 0px;
                    margin-top: 40px;
                  ">
                © 2024 Debutify Corp. <br />
                2363 James St #1065, Syracuse, NY 13206, United States
              </p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <!-- Social Links -->
              <p style="margin-top: 20px">
                <a href="https://www.facebook.com/debutifycorp" target="_blank"
                  style="margin-right: 15px; text-decoration: none">
                  <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/facebook.png" alt=""
                    style="height: 21px; width: 21px" />
                </a>
                <a href="https://www.linkedin.com/company/debutify" target="_blank"
                  style="margin-right: 15px; text-decoration: none">
                  <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/linkedin.png" alt=""
                    style="height: 21px; width: 21px" />
                </a>
                <a href="https://www.youtube.com/channel/UCm4-k3TAP2OPGZo47o-qZ5w" target="_blank"
                  style="margin-right: 15px; text-decoration: none">
                  <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/youtube.png" alt=""
                    style="height: 21px; width: 21px" />
                </a>
                <a href="https://www.pinterest.com/debutify/" target="_blank"
                  style="margin-right: 15px; text-decoration: none">
                  <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/pinterest.png" alt=""
                    style="height: 21px; width: 21px" />
                </a>
                <a href="https://www.instagram.com/debutify/" target="_blank"
                  style="margin-right: 15px; text-decoration: none">
                  <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/instagram.png" alt=""
                    style="height: 21px; width: 21px" />
                </a>
                <a href="https://twitter.com/debutify" target="_blank"
                  style="margin-right: 15px; text-decoration: none">
                  <img src="https://debutify-prd-platform.s3.amazonaws.com/emails/twitter.png" alt=""
                    style="height: 21px; width: 21px" />
                </a>
              </p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <p style="font-size: 12px; margin: 0px">
                <a href="https://debutify.com/help-center/" target="_blank"
                  style="color: #6c757d; margin-right: 15px">Help Center</a>
                <span style="color: #6c757d; margin-right: 15px">•</span>
                <a href="https://debutify.com/contact/" target="_blank"
                  style="color: #6c757d; margin-right: 15px">Contact</a>
                <span style="color: #6c757d; margin-right: 15px">•</span>
                <a href="https://debutify.com/terms-of-use/" target="_blank"
                  style="color: #6c757d; margin-right: 15px">Terms of Service</a>
                <span style="color: #6c757d; margin-right: 15px">•</span>
                <a href="https://debutify.com/privacy-policy/" target="_blank" style="color: #6c757d">Privacy Policy</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>