<!DOCTYPE html>
<html>
<head>
    <title>Verification Code</title>
</head>
<style>
</style>
<body style="background:#fafafa;width:auto;padding: 126px 0px;">
    <div style="text-align:center;padding-bottom:40px;margin:0">
        <img style="width:124px; height:25px; margin: 0 auto;" src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/DbtfyLogo.png" alt="debutify">
    </div>
    <table style="max-width: 480px;border-spacing:0; width: 100%;margin: 0 auto; background-color: #fff; box-sizing: border-box; border-radius: 16px;">
        <tbody>
            <tr>
                <table style="border-spacing:0; padding: 40px 0px;width: 480px;margin: auto; text-align: center;">
                    <tbody>
                        <tr>
                            <td>
                                <h5 style="padding:0px 24px;margin:0;font-family: 'Poppins', sans-serif;; font-size: 20px; font-weight:600; color: #212529;display:contents;margin:0 ">
                                    Let's verify your new email address
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="padding:0px 24px; margin:0;text-align: center; font-family: 'Poppins', sans-serif;; font-size: 14px; font-weight:400;margin:0; color: #2E353A;line-height:24px ">
                                    To secure your account, please use the verification code below to comfirm your
                                    updated email address:
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="padding:0px 24px; margin:0;padding: 32px 0px;font-family: 'Poppins', sans-serif;; font-size: 32px; font-weight:600;margin:0; color: #2E353A; line-height:48px">
                                {{ code }}
                                </h2>
                            </td>
                        </tr>
                        <tr>
                            <td style="margin: 0;">
                                <p style="padding:0px 24px; margin:0; text-align: center; font-family: 'Poppins', sans-serif;; font-size: 14px; font-weight:400; color: #2E353A; 
                                        padding-bottom: 32px;">
                                    This code will expire in 15 minutes. If you did not request this change, no
                                    further action is required.
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="border-top:1px solid #eeeeee;">
                        </tr>
                        <tr>
                            <td style="padding-top:32px; margin:0">
                            <p style="padding:0px 24px; margin:0;text-align: center; font-family: 'Poppins', sans-serif;; font-size: 14px; font-weight:500; color: #2E353A; line-height:23.8px;">
                            Have Questions?
                            </p>
                            <p style="padding:0px 24px; margin:0;text-align: center; font-family: 'Poppins', sans-serif;; font-size: 14px; font-weight:400; color: #6c757d;line-height:23.8px;">
                                <a href="" style="text-decoration:none; color:#2383D9">Contact Us</a> and we'd
                                be happy to help!
                            </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tr>
        </tbody>
    </table>
    <table style="max-width: 480px; width: 100%; border-spacing:0;  margin: 0 auto; box-sizing: border-box;">
        <tbodys>
            <tr>
                <td>
                    <table style="padding: 40px 0px;width: 480px; border-spacing:0; margin: auto; text-align: center;">
                        <tbody>
                            <tr style="padding-top:40px; ">
                                <td>
                                    <p style="color:#95A8B2; font-size: 12px; font-weight: 400; line-height: 20.4px; margin:0;">
                                        © 2023 Debutify Corp.
                                    </p>
                                    <p style="color:#95A8B2; font-size: 12px; font-weight: 400; line-height: 20.4px; margin:0;">
                                        2363 James St #1065, Syracuse, NY 13206, United States </p>
                                </td>
                            <tr>
                                <td style="text-align:center; padding:12px 0px; margin:0 auto;">
                                    <a style="display: inline-block;width: 21px;height: 24px;margin-right: 16px;" href="https://www.facebook.com/debutify"><img src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/Facebook.png" style="width:100%; height: 100%; " alt="debutify"></a>
                                    <a style="display: inline-block;width: 21px;height: 24px;margin-right: 16px;" href="https://www.linkedin.com/debutify"><img src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/Linkedin.png" style="width:100%; height: 100%; " alt="debutify"></a>
                                    <a style="display: inline-block;width: 21px;height: 24px;margin-right: 16px;" href="https://www.youtube.com/debutify"><img src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/YouTube.png" style="width:100%; height: 100%; " alt="debutify"></a>
                                    <a style="display: inline-block;width: 21px;height: 24px;margin-right: 16px;" href="https://www.pinterest.com/debutify"><img src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/Pinterest.png" style="width:100%; height: 100%; " alt="debutify"></a>
                                    <a style="display: inline-block;width: 21px;height: 24px;margin-right: 16px;" href="https://www.instagram.com/debutify"><img src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/Instagram.png" style="width:100%; height: 100%; " alt="debutify"></a>
                                    <a style="display: inline-block;width: 21px;height: 24px;" href="https://www.twitter.com/debutify"><img src="https://debutify-dev-theme.s3.amazonaws.com/assets/images/Twitter.png" style="width:100%; height: 100%; " alt="debutify"></a>
                                </td>
                            </tr> 
                            <tr class="footer-row">
                                <td>
                                    <a href="https://www.debutify.com/help-center" style="color:#6C757D; font-weight: 400; font-size: 12px; line-height: 20.4px;">Help Center</a>
                                    <span class="dot" style="color:#6C757D; padding: 0px 8px; font-weight: 400; font-size: 12px; line-height: 20.4px;">·</span>
                                    <a href="https://www.debutify.com/contact" style="color:#6C757D; font-weight: 400; font-size: 12px; line-height: 20.4px;">Contact</a>
                                    <span class="dot" style="color:#6C757D; padding: 0px 8px; font-weight: 400; font-size: 12px; line-height: 20.4px;">·</span>
                                    <a href="https://www.debutify.com/terms-of-service" style="color:#6C757D; font-weight: 400; font-size: 12px; line-height: 20.4px;">Terms of Service</a>
                                    <span class="dot" style="color:#6C757D; padding: 0px 8px; font-weight: 400; font-size: 12px; line-height: 20.4px;">·</span>
                                    <a href="https://www.debutify.com/privacy-policy" style="color:#6C757D; font-weight: 400; font-size: 12px; line-height: 20.4px;">Privacy Policy</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>